#==================================================
# Blacklist (Last match has precedence)

/OLD/*
/*

#==================================================
# Whitelist

# for empty directories:
!.gitkeep

# Explicitly include our main files:
!/.gitignore
!/README.md
!/Doffing.md
!/img/
!/Space.txt
!/Ground.txt
!/ui.txt
!/ui1440.txt
!/sto2keys.py
